* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$tt: uppercase;
$titleColor: #314a5b;
$titleWeight: bold;

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
}

.header {
  background-image: url('../img/bg-img.png');
  background-position: center top;
  background-repeat: no-repeat;
  height: 1057px;
  background-size: cover;
  //position: relative;
}

.header_top {
  display: flex;
  justify-content: space-between;
  //align-items: center;
  max-width: 970px;
  min-width: 320px;
  padding: 0 15px 0;
  margin: 0 auto;

  &_logo {
    height: 75px;
    min-width: 140px;

    > a {
      display: flex;
      width: 100%;
      height: 100%;
      color: #fff;
      background-color: #fa5c65;
      font-size: 20px;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 15px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  &_menu {
    display: flex;

    &_item {
      align-content: space-around;
      text-transform: $tt;
      list-style: none;
      margin-right: 15px;
    }

    &_link {
      justify-content: space-around;
      padding: 5px 10px;
      color: $titleColor;
      font-weight: $titleWeight;

    }
  }
}

.header_center {

  &_content {
    max-width: 555px;
    padding-top: 250px;
    //display: flex;
    align-items: center;
    //position: absolute;
    top: 75px;

    &_title {
      text-transform: $tt;
      color: $titleColor;
      font-size: 30px;
      margin-bottom: 25px;
    }

    &_text {
      color: $titleColor;
      font-size: 20px;
    }

    &_link {
      display: flex;
      text-transform: $tt;
      background-color: #fa5c65;
      border-radius: 10px;
      border: none;

      > a {
        display: flex;
        font-size: 20px;
        padding-bottom: 15px;
        color: #fff;
        margin-top: 20px;
        margin-left: 40px;
      }

    }
  }
}


//INFO

.info_item {
  padding-left: 40px;
  margin-top: 50px;

  &_title {
    text-transform: $tt;
    color: $titleColor;
    font-weight: $titleWeight;
    font-size: 26px;
    margin-top: 20px;
  }

  &_text {
    color: #9aa0ab;
    font-size: 15px;
    margin-top: 20px;
  }

  &_link {
    margin-top: 20px;
    >a {
      text-transform: $tt;
      //font-weight: $titleWeight;
      color: #f0454c;
      font-size: 14px;
    }
  }
}

//Portfolio

.portfolio {
  margin-top: 50px;

  &_item {


    &_title {
      text-transform: $tt;
      color: $titleColor;
      font-weight: $titleWeight;
      font-size: 40px;
      margin-top: 60px;
    }

    &_subtitle {
      color: $titleColor;
      font-size: 16px;
      margin-top: 5px;

    }

    &_text {
      color: #9aa0ab;
      font-size: 15px;
      margin-top: 20px;

      p {
        margin-top: 20px;
      }
    }

    &_link {
      margin-top: 30px;

      a {
        text-transform: $tt;
        color: #f0454c;
        font-size: 14px;
      }
    }
  }
}

//OUR TEAM

.team {
  border-bottom: 1px solid #e6eaed;
}

.container_team {


}

.team_block_first {
  h3 {
    text-transform: $tt;
    color: $titleColor;
    font-weight: $titleWeight;
    font-size: 32px;
  }

  p {
    color: #9aa0ab;
    font-size: 15px;
  }
}

.team_block_second {
  display: flex;
  justify-content: center;

  .team_item {
    display: flex;

    &_photo {
      margin-left: 30px;
      margin-right: 20px;
    }

    &_info {


      &_title {
        text-transform: $tt;
        color: $titleColor;
        font-weight: $titleWeight;
        font-size: 22px;
      }

      &_subtitle {
        color: #f0454c;
        font-weight: $titleWeight;
        font-size: 14px;
      }

      &_text {
        color: #9aa0ab;
        font-size: 15px;
        margin-top: 20px;
      }
    }
  }
}

.team_block_link {

  padding-bottom: 50px;
  padding-top: 50px;
    a {
      text-transform: $tt;
      color: #f0454c;
      font-size: 14px;

    }
}

//FOOTER

.footer {

}
.container_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_icon {
  margin: 35px 0 35px 0;

    img {
      margin-left: 15px;
    }
  }

.footer_copyrights {
  color: #9aa0ab;
  font-size: 13px;
}